<header class="top_bar clearfix">
    <div class="common" style="border:2px solid #C3C3C3">
        <a href="/" class="top_img"><%=image_tag("fx/back.png")%></a>
        <span class="top_size">激活</span>
       <!-- <a href="#" class="top_point f_right"><%=image_tag("fx/dd.png")%></a>-->
    </div>
</header>
<main class= "startcode">
    <div class="main_img">
        <%=image_tag("fx/bg_t.jpg")%>
    </div>
    <div class="content_introduce">
        <h3>如何激活普通合伙人资格？</h3>
        <p>
            恭喜您获得会展邦合伙人资格，下一步您只需要去会展邦商城，购买任何商品，返利金额达到XXX元，
            即可激活资格，成为真正的会展邦普通合伙人，永久享受普通合伙人的权益。
        </p>
    </div>
    <div class="content_introduce">
        <h3>会展邦合伙人有哪些权益？</h3>
        <p> 3、从消费者（省钱）角度，申请成为会展邦合伙人相当于办了一张会展邦商城的VIP卡，
            自己买东西享受6-9折优惠，直接返现，直接省钱。</p>
        <p>
            4、从创业者（挣钱）角度，申请成为会展邦合伙人，相当于免费开了一家超级网上折扣商城，
            作为商城的老板，您不用关心进货，物流，售后等所有劳心的事情，这些事情统统由会展邦搞定，
            您至于要把您的商城分享出去就可以坐收佣金，“平台+个人”是互联网时代创业的最高效的模式。
        </p>
    </div>
    <div class="foot_img"><%=image_tag("fx/bg1.png")%></div>
</main>