<header class="top_bar clearfix">
    <div class="common" style="border:2px solid #C3C3C3">
        <a href="/" class="top_img"><%=image_tag("fx/back.png")%> </a>
        <span class="top_size">余额转出说明</span>
    </div>
</header>
<div class="fx_bz">
    <p>为了保障您的资金安全，用户必须实行实名制信息登记，方可进行余额转出。</p>
</div>
<div class="fx_rz">
    <p class="rzb">实名认证步骤：</p>
    <p>1.<i>电脑登录</i>会展邦首页 www.eventnation.com.cn</p>
    <p>2.点击<i>会付宝</i>进入会付宝账户</p>
    <p>3.点击<i>货款转出</i>进行实名认证即可</p>
    <p>4.平台24小时内完成实名认证，如遇节假日顺延</p>
    <p>5.认证完成后用户可随时进行余额转出</p>
</div>
<div class="fx_logo">
    <%=image_tag("fx/logo.png")%> 
     
</div>