<%
   size ||= 10
   field_name ||= self.class.const_get(controller.class.name.gsub(/^Admin|Controller$/, '').singularize).human_attribute_name(field)
%>
<div class="input-group">
  <%= label_tag "where[#{field}][gteq]", field_name %>
  <%= text_field_tag "where[#{field}][gteq]", params[:where].try(:[], field).try(:[], 'gteq'), class: "input-xs #{class_names||=''}", size: size %>
  <%= label_tag "where[#{field}][lteq]", '~' %>
  <%= text_field_tag "where[#{field}][lteq]", params[:where].try(:[], field).try(:[], 'lteq'), class: "input-xs #{class_names||=''}", size: size %>
</div>&nbsp;&nbsp;