<% field_class = {class: 'form-control hasDatepicker', value: f.object.send(field).try(:strftime, '%Y-%m-%d %H:%M'), data: {provide: provide ||= 'datepicker-inline'}}.merge!(f.options[:options_class]||{}) %>

<div class="form-group">
  <%= f.label field, class: 'col-md-3 control-label' do -%>
      <%= raw('<sup>*</sup>') if defined?(required) && required %>
      <%= @record.class.human_attribute_name(field) %>
  <% end -%>

  <div class="com-md-8">
    <% field_class.merge!(required: true) if defined?(required) && required %>
    <%= f.text_field field, field_class %>
  </div>
</div>
