<button type="button" class="close" data-dismiss="rightPanel">×</button>
<h4 class="modal-title"><%= "#{t(@show ? :show : @record.new_record? ? :new : :edit)}#{@record.class.model_name.human}" %></h4>
